<template>
  <div v-on="$listeners">
    <v-otp-input
      ref="personalCode"
      v-model="value"
      :length="length"
      type="number"
    ></v-otp-input>
  </div>
</template>

<script>
export default {
  name: 'Code',
  data () {
    return {
      value: this.value,
      length: 11
    }
  },
  methods: {
    getValue() {
      return this.$refs.personalCode.value
    },
    isValid() {
      const value = this.getValue()

      if (value.replace(/[^\d]/g, '').length !== this.length) {
        return false
      } else if (!value.match(/^[+0-9\s]+$/)) {
        return false
      }
      return true
    }
  }
}
</script>
