<template>
  <v-form ref="form">
    <Code
      ref="personalCode"
      @input="getCodeValue"
    />
    <Slider
      ref="loanPeriod"
      :min="12"
      :max="60"
      :step="3"
      :label="loanPeriodLabel"
      :disabled="isDisabled"
      slider-type="periodValue"
      @periodValue="getPeriodValue"
    />
    <Slider
      ref="loanAmount"
      :min="2000"
      :max="10000"
      :step="10"
      :label="loanAmountLabel"
      :disabled="isDisabled"
      slider-type="amountValue"
      @amountValue="getAmountValue"
    />
    <Message
      v-if="error"
      type="error"
      :message="error"
    />
    <Message
      v-if="success"
      type="success"
      :message="success"
    />
    <Message
      v-if="info"
      type="info"
      :message="info"
    />
  </v-form>
</template>

<script>
import axios from "axios"
import Code from "../../components/Input/Code.vue"
import Slider from "../../components/Slider/Slider.vue"
import Message from "../../components/Message/Message.vue"
export default {
  name: 'Form',
  components: {
    Code,
    Slider,
    Message
  },
  data () {
    return {
      loanPeriodLabel: 'Loan period',
      loanAmountLabel: 'Loan amount',
      isDisabled: true,
      debt: false,
      code: null,
      amount: null,
      period: null,
      isCodeValid: false,
      isAmountValid: false,
      isPeriodValid: false,
      error: null,
      success: null,
      info: null,
      maxLoanAmount: null
    }
  },
  computed: {
    isFormValid () {
      return this.isCodeValid && this.isAmountValid && this.isPeriodValid
    }
  },
  methods: {
    getCodeValue() {
      this.error = false
      this.isCodeValid = this.$refs.personalCode.isValid()
      this.code = this.$refs.personalCode.getValue()
      this.checkIfHasDebt()
    },
    getAmountValue(value) {
      this.error = false
      this.isAmountValid = this.$refs.loanAmount.isValid()
      this.amount = value
      this.getScore()
    },
    getPeriodValue(value) {
      this.error = false
      this.isPeriodValid = this.$refs.loanPeriod.isValid()
      this.period = value
      this.getScore()
    },
    getScore() {
      if (!this.isFormValid) {
        return
      }
      this.reset()
      axios.get(`http://localhost:8000/api/getCreditScore/${this.code}/${this.amount}/${this.period}`)
      .then(response => {
        this.maxLoanAmount = response.data.maxLoanAmount
        this.isDisabled = false
        if (this.amount <= response.data.maxLoanAmount && response.data.creditScore >= 1) {
          this.success = `Congrats! Your max. loan amount is ${response.data.maxLoanAmount} €`
        } else {
          this.error = `Your min. loan period for ${this.amount} € is ${Math.ceil(response.data.minLoanPeriod)} months`
        }
      })
      .catch(e => {
        this.error = e.message
      })
    },
    checkIfHasDebt() {
      if (!this.isCodeValid) {
        return
      }
      this.reset()
      axios.get(`http://localhost:8000/api/getCreditScore/${this.code}`)
        .then(response => {
          if (response.data.hasDebt) {
            this.error = 'You have debt'
          } else {
            this.isDisabled = false
            this.info = 'Please choose loan period and amount'
          }
        })
        .catch(e => {
          this.error = e.message
        })
    },
    reset() {
      this.error = false
      this.success = false
      this.info = false
      this.score = null
    }
  }
}
</script>
