<template>
  <div v-on="$listeners">
    <v-slider
      v-model="value"
      ref="slider"
      :step="step"
      :max="max"
      :min="min"
      thumb-label="always"
      ticks
      :disabled="disabled"
      :label="label"
      @input="handleInput"
    ></v-slider>
  </div>
</template>

<script>
export default {
  name: 'Slider',
  props: {
    label: {'type': String, 'default': ''},
    disabled: {'type': Boolean, 'default': false},
    min: {'type': Number, 'default': 0 },
    max: {'type': Number, 'default': 0 },
    step: {'type': Number, 'default': 0 },
    sliderType: {'type': String, 'default': ''}
  },
  data () {
    return {
      value: this.value,
    }
  },

  methods: {
    handleInput() {
      if (!this.disabled) {
        this.$emit(this.sliderType, this.value)
      }
    },
    isValid() {
      const value = this.value
      if (!value) {
        return false
      } else if (value.lenght > this.max) {
        return false
      } else if (value.lenght < this.min) {
        return false
      } else {
        return true
      }
    }
  }

}
</script>
