<template>
  <v-app>
    <v-row justify="center" align="center">
      <v-col>
        <h1>{{ heading }}</h1>
        <Form />
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import Form from "../components/Form/Form.vue"
export default {
  name: 'IndexPage',
  components: {
    Form
  },
  data () {
    return {
      heading: 'Enter your personal code'
    }
  }
}
</script>
