<template>
  <div>
    <v-alert :type="type">{{ message }}</v-alert>
  </div>
</template>
<script>
export default {
  name: 'Message',
  props: {
    type: { 'type': String, 'default': '' },
    message: { 'type': String, 'default': '' }
  }
}
</script>